<!DOCTYPE html>
<html>
<head>
  <title>Ruboard</title>
  <%= stylesheet_link_tag    "ruboard/application", :media => "all" %>
  <%= javascript_include_tag "ruboard/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
